<h1>New question</h1>

<form action="/quiz/new/add/" method="post">
{% csrf_token %}

<select name="newQuestionCollection">
<option value="newCollecton">New</option>
{% for collection in collectionList %}
    <option value="{{collection.id}}">{{collection}}</option>
{% endfor %}
<br />
Question:       <input type="text" name="newQuestion" /><br />
Correct answer: <input type="text" name="newQuestionChoice1" /><br />
Wrong answer:   <input type="text" name="newQuestionChoice2" /><br />
Wrong answer:   <input type="text" name="newQuestionChoice3" /><br />
Wrong answer:   <input type="text" name="newQuestionChoice4" /><br />

<input type="submit" value="Submit">
</form>
